body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.hero {
    height: 550px;
    align-content: space-between;
}
.hero , .footer {
    background-color: #1f2937;
    
    
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    
    
}
    
.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 24px;
}
.logo-text {
    color: #f9faf8;
    font-size: 24px;
    font-family: roboto;


}
a {
    text-decoration: none;
    color: #f9faf8;
}
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px auto;
    gap: 8px;
    padding: 24px auto;
    min-width: 1200px;
    
}
.hero-section div {
    max-width: 500px;
    min-height: auto;
    flex: 1;
}
.hero-section div img {
    max-width: 500px;
    flex: 1;
    
    
}
.first {
    display: flex;
    flex-basis: 500px;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 8px;
    align-self: stretch;
    
    
   

}
.first h1 {
    margin: 0px;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    font-family: Roboto;
}
.first p {
    font-size: 18px ;
    color: #e5e7eb;

}
.first button {
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    border: none;
    padding: 8px 24px;
    border-radius: 8%;
}
.services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.services .content {
    display: flex;
    justify-content: space-around;
    margin: 16px 0px;
    min-width: 1000px;

}
.services .content div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    flex: 1;
}
.content div img {
    border-color: #3882f6;
    border-width: 4px;
    border-style: solid;
    width: 128px;
    height: 128px;
    border-radius: 4%;
}
.services h1 {
    text-align: center;
    margin: 10px auto;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.Quote_Section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px auto;
}
.Quote_Section div {
    background-color: #e5e7eb;
    max-width: 600px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.Quotation {
    font-family: sans-serif;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 0;
}
.the_speaker {
    align-self: flex-end;
    font-weight: 900;
    font-size: 18px;
}


